@model List<Product>
@* @if(TempData["success"] != null)
{
        <h1>@TempData["success"]</h1>
} *@

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-12">
            <div class="bg-primary text-white p-3 rounded d-flex justify-content-between align-items-center">
                <h1 class="mb-0">Products List</h1>
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-light text-primary">
                    <i class="bi bi-patch-plus"></i> Create New Product
                </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped mt-4">
        <thead class="table-primary">
            <tr>
                <th>Book Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Category</th>
                <th>List Price</th>
                <th>Price</th>
                <th>Price 50+</th>
                <th>Price 100+</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Title))
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.Author</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.CategoryId</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Price</td>
                    <td>@obj.Price50</td>
                    <td>@obj.Price100</td>
                    <td class="text-end">
                        <div class="btn-group w-100" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.ProductId" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId" class="btn btn-danger">
                                <i class="bi bi-trash3-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
